
article.ExtensionCard {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 1.6rem;
  padding: 1.6rem;
  min-height: 20rem;
  width: 100%;
  
  border-radius: 0.54em;
  border: 1px solid var(--article-border-color);
  background-color: var(--article-bg);
}

article.ExtensionCard:focus {
  outline: 2px solid var(--article-outline-focus);
  outline-offset: 2px;
}